body {
  background-image: url("./imag/black1.jpg");
  font-family: "Courier New", Courier, monospace;
  color: white;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(2, 3, 5);
  background-position: 0% 100%;
  background-attachment: fixed;
}

main {
  margin-top: 10px;
  display: grid;
  color: whitesmoke;
}

.welcome {
  margin: 5px auto;
}

h1 {
  margin: 5px auto;
  background-color: rgba(75, 181, 167, 50%);
  padding: 2% 30.1%;
}

#New {
  margin-top: 200px;
}

.button {
  display: grid;
  border-radius: 10px;
  background-color: rgba(75, 181, 167, 80%);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.topleft {
  position: relative;
  margin-bottom: 50px;
  color: whitesmoke;
}

.bottomleft {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-left: 5px;
}
